<div ng-include="'partials/navbar.ng.html'">
</div>
<div class="container">
    <p>These are the available courses</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courses">
                <td><a ui-sref="courseView({id: course._id})">{{course.name}}</a></td>
                <td ng-bind-html="course.description"></td>
            </tr>
        </tbody>
    </table>
    <a ui-sref="courseEdit({id: 'new'})" class="btn btn-success pull-right" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Course</a>
</div>