<div class="container">
    <div ng-include="'partials/navbar.ng.html'"></div>
    <ol class="breadcrumb">
        <li><a ui-sref="courses">Courses</a></li>
        <li>
            <a ng-if="course._id" ui-sref="courseView({id: course._id})">{{course.name || 'Enter name'}}</a>
            <span ng-if="!course._id">{{course.name || 'Enter name'}}</span>
        </li>
        <li class="active">Edit</li>
    </ol>

    <form novalidate>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <input type="text" class="form-control" ng-model="course.name" placeholder="Pax" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Description</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <input type="textarea" class="form-control" ng-model="course.description" placeholder="Pax Romana" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Runtime</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div ui-ace="{
                                  mode: 'javascript',
                                  advanced: {
                                      enableBasicAutocompletion: true,
                                      enableLiveAutocompletion: true
                                  }
                                }" ng-model="course.runtime"></div>
                </div>
            </div>
            <div class="row" ng-if="validation.stats.failures">
                <div class="form-group col-md-12">
                    <div class="panel panel-danger" ng-repeat="failure in validation.failures">
                        <div class="panel-heading">Failed: {{failure.fullTitle}}</div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <button ng-click="save()" ng-disabled="!course.name.trim()" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
            <button ng-if="course._id" ng-click="remove()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button>
        </div>
    </form>
</div>