<div class="container">
    <header>
        <h1>{{course.name}}</h1>
    </header>
    <div ng-bind-html="course.description"></div>
    <div ui-ace="{
                  mode: 'javascript',
                }" readonly ng-model="course.runtime"></div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th style="width: 1%;">
                    <!--Actions-->
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="submission in submissions">
                <td>{{submission.user.username}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a ui-sref="submissionEdit({id: 'new'})" class="btn btn-success pull-right" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Submission</a>
</div>