<div class="container">
    <header>
        <h1 ng-bind="customer._id ? 'Edit Customer' : 'Create Customer'"></h1>
        <h3 ng-bind="customer.customerName()"></h3>
    </header>

    <form novalidate>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>First Name</label>
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" ng-model="customer.firstName" placeholder="Pax" required />
                </div>
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" ng-model="customer.lastName" placeholder="Roma" required />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                </div>
                <div class="col-md-6">
                    <label>Telephone</label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <input type="email" class="form-control" ng-model="customer.email" placeholder="pax.roma@legion.com" required />
                </div>
                <div class="form-group col-md-6">
                    <input type="tel" class="form-control" ng-model="customer.tel" placeholder="305-123-4567" />
                </div>
            </div>
        </div>
        <hr />
        <div class="pull-right">
            <button ng-click="save()" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
            <button ng-if="customer._id" ng-click="remove()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove</button>
            <a ui-sref="customers">Back to customer list</a>
        </div>
    </form>
</div>